<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="add" method="post">
    Name: <input type="text" name="name"/>
    <br/><br/>
    Age: <input type="text" name="age"/>
    <br/><br/>
    Phone: <input type="text" name="phone"/>
    <br/><br/>
    Adress: <input type="text" name="adress"/>
    <br/><br/>
    <input type="submit" value="Add user">
</form>
<br/>
<form action="data_info.html" method="get">
    Id: <input type="text" name="id"/>
    <input type="submit" value="Find user"><br/>
    <p>User:${name!}</p>
</form>
<form >
    <p>Count users: ${count}</p>
</form>
</body>
</html>
