<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    Name: <input type="text" name="name"/>
    <br/>
    Age: <input type="text" name="age"/>
    <br/>
    Phone: <input type="text" name="phone"/>
    <br/>
    <br/>
    Adress: <input type="text" name="adress"/>
    <br/>
    <input type="submit" value="Sent">
</form>
<br/>
<form>
    Id: <input type="text" name="id"/>
    <input type="submit" value="Sent"><br/>
    <p>User name: ${name}</p>
</form>

<form >
    <p>Count users: ${count}</p>
</form>
</body>
</html>